name: Validate Workflow

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '.github/workflows/**/*.yaml'

jobs:
  validate:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - uses: jrschumacher/go-actions/self-validate@main
          with:
            comment-on-pr: true